export ETCD_CERTIFICATE=/etc/kubernetes/pki/etcd/server.crt                     
export ETCD_KEY=/etc/kubernetes/pki/etcd/server.key                             
export KUBE_SSH_KEY="/root/.ssh/id_rsa"                                         
export KUBE_SSH_USER="capv"
export masterip=20.20.151.84,20.20.151.87,20.20.151.88
